<div class="students-show">
  <%= navigation_bar %>

  <main>
    <div class="icon-button">
      <%= user_icon(@student) %>
      <% if student_signed_in? %>
        <div class="buttons">
          <%= link_to '編集', edit_student_registration_path, class: 'button' %>
          <%= link_to 'フォロー/フォロワー', student_following_path(@student.id), class: 'button' %>
        </div>
      <% elsif teacher_signed_in? %>
        <%= render 'teacher_followings/follow_button', student: @student %>
        <%= render 'teacher_followings/DM_link', stu: @student, ids: @student_ids, flwng: @following, flwd: @followed %>
      <% else %>
        ※ログインしてください。
      <% end %>
    </div>
    <div class="name"><span>名前：</span><%= @student.name %></div>
    <div class="profile"><span>プロフィール：<br></span><%= @student.profile %></div>
  </main>
</div>
