<div class="teacher_followings-show">
  <%= render 'teachers/nav.html.erb' %>
  <main>
    <div class="followings">
      <h3>フォロー</h3>
      <% @students.each do |s| %>
        <% if current_teacher.already_following?(s) %>
          <div class="user">
            <%= link_to student_path(s.id) do %>
              <%= user_icon(s) %>
            <% end %>
            <div class="info">
              <div class="name"><%= s.name %></div> <br>
              <%= render 'teacher_followings/DM_link', stu: s, ids: @student_ids, flwng: current_teacher.already_following?(s), flwd: current_teacher.already_followed?(s) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="followers">
      <h3>フォロワー</h3>
      <% @students.each do |s| %>
        <% if current_teacher.already_followed?(s) %>
          <div class="user">
            <%= link_to student_path(s.id) do %>
              <%= user_icon(s) %>
            <% end %>
            <div class="info">
              <div class="name"><%= s.name %></div> <br>
              <%= render 'teacher_followings/DM_link', stu: s, ids: @student_ids, flwng: current_teacher.already_following?(s), flwd: current_teacher.already_followed?(s) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>
</div>
