<div class="teachers-index">
  <%= navigation_bar %>

  <main>
    <div class="search-form">
      <%= form_tag({controller:"teachers",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索'  %>
      <% end %>
    </div>
    <h3>生徒一覧</h3>
    <div class="users">
      <% @students.each do |s| %>
        <hr>
        <div class="user">
          <%= link_to student_path(s.id) do %>
            <div class="user-icon"><%= user_icon(s) %></div>
            <div class="info">
              <div class="name"><%= s.name %></div>
              <div class="profile"><span>プロフィール：</span><%= s.profile %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
</div>
