<div class="rooms-show">
  <%= navigation_bar %>

  <main>
    <% if student_signed_in? %>
      <h3><%= @teacher.name %>とのDM</h3>
      <div class="chat-field">
        <% @messages.each do |m| %>
          <% if m.is_student %>
            <div class="right-message">
              <%= image_tag m.image_url, class: 'image' if m.image? %>
              <div class="content"><%= m.content %></div>
              <div class="posted-time"><%= m.created_at %></div>
            </div>
          <% else %>
            <div class="left-message">
              <%= image_tag m.image_url, class: 'image' if m.image? %>
              <div class="content"><%= m.content %></div>
              <div class="posted-time"><%= m.created_at %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% elsif teacher_signed_in? %>
      <h3><%= @student.name %>とのDM</h3>
      <div class="chat-field">
        <% @messages.each do |m| %>
          <% if m.is_student %>
            <div class="left-message">
              <%= image_tag m.image_url, class: 'image' if m.image? %>
              <div class="content"><%= m.content %></div>
              <div class="posted-time"><%= m.created_at %></div>
            </div>
          <% else %>
            <div class="right-message">
              <%= image_tag m.image_url, class: 'image' if m.image? %>
              <div class="content"><%= m.content %></div>
              <div class="posted-date"><%= m.created_at %></div>
            </div>
          <% end %>
        <% end %>
      </div>

    <% end %>

    <div class="post-form">
      <%= form_for [@room, @message] do |f| %>
        <div class="text-form"">
          <%= f.text_area :content %>
          <%= f.submit "送信", class: 'button' %>
        </div>

        <div class="image-form">
          <%= f.file_field :image %>
        </div>
      <% end %>
    </div>
  </main>
</div>