<!DOCTYPE html>
<html>
  <head>
    <title>Sotsog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--
    <%# --deviseのフラッシュメッセージ-- %>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>
  -->

    <header>
      <div class="logo-home">
        <%= link_to image_tag('logo_light.png'), root_path %>
      </div>

      <% if student_signed_in? %>
        <div class="user">
          <%= link_to student_path(current_student.id) do %>
            <%= user_icon(current_student) %>
          <% end %>
          <div class="info">
            <%= link_to student_path(current_student.id) do %>
              <%= current_student.name %>
            <% end %>
          </div>
        </div>
      <% elsif teacher_signed_in? %>
        <div class="user">
          <%= link_to teacher_path(current_teacher.id) do %>
            <%= user_icon(current_teacher) %>
          <% end %>
          <div class="info">
            <%= link_to teacher_path(current_teacher.id) do %>
              <%= current_teacher.name %>
            <% end %>
          </div>
        </div>
      <% else %>
      <div class="login">
        <%= button_to '生徒としてログイン', new_student_session_path, class: 'button' %>
        <%= button_to '先生としてログイン', new_teacher_session_path, class: 'button' %>
      </div>
      <% end %>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      Copyright &copy; Tsuyoshi Nakayama All Rights Reserved.
    </footer>

  </body>
</html>
